.body {
  width: 100%;

  > div {
    display: flex;
    flex-wrap: wrap;

    .dropZone {
      display: none;
    }

    .file {
      width: 150px;
      height: 150px;
      margin: 8px;
      flex: none;

      > div {
        width: 100%;
        height: 100%;
        padding: 0;

        .cover {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0,0,0,0.55);
          display: none;
          flex-wrap: wrap;
          align-items: center;
          align-content: center;
          justify-content: space-around;

          .download, .delete{
            border: none;
            background: transparent;
            color: #ffffff;
            font-size: 14px;
            padding: 8px 4px;
            cursor: pointer;

            > i {
              vertical-align: text-bottom;
            }
          }
        }

        &:hover .cover {
          display: flex;
        }
      }
    }

    .add {
      width: 150px;
      height: 150px;
      margin: 8px;
      flex: none;
      text-align: center;

      > div {
        padding: 0;

        .icon {
          line-height: 150px;
          font-size: 70px;
          color: #cccccc;
        }
      }
    }
  }
}