:global {
  #ql-toolbar {
    .ql-header {
      width: 70px;

      .ql-picker-label::before {
        vertical-align: top;
      }
    }

    .ql-picker-label svg{
      vertical-align: top;
    }
  }

  .ql-tooltip::before {
    content: '链接：'!important;
  }

  .ql-tooltip.ql-editing a.ql-action::after {
    content: '保存'!important;
  }

  .ql-tooltip a.ql-action::after {
    content: '编辑'!important;
  }

  .ql-tooltip a.ql-remove::before {
    content: '移除'!important;
  }

  .ql-tooltip a.ql-preview {
    line-height: 32px!important;
  }
}