@import "tool";

:global {

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Microsoft YaHei Light", sans-serif;
  }

  html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    overflow: hidden;
    background-color: #d2d6de;
  }

  #main {
    width: 100%;
    height: 100%;

    .ant-spin-nested-loading {
      width: 100%;
      height: 100%;

      .ant-spin-container {
        width: 100%;
        height: 100%;
      }

      .ant-spin {
        max-height: 100%;

        .ant-spin-dot {
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          margin: -10px;
        }
      }
    }
  }

  h1 {
    margin-bottom: $gap_md;
  }

  h2 {
    margin-bottom: $gap_sm;
  }

  h3 {
    margin-bottom: $gap_sm;
  }

  hr {
    border: none;
    border-top: 1px solid #d9d9d9;
    margin-bottom: $gap_md;
  }

  img {
    vertical-align: bottom;
  }

  .ant-rate-star {
    font-family: 'anticon',sans-serif !important;
  }

  .ant-input-number,
  .ant-select,
  .ant-cascader-picker,
  .ant-calendar-picker {
    width: 100%;
  }

  .ant-card-body {
    height: 100%;
  }
}