$gap_lg: 24px;
$gap_md: 16px;
$gap_sm: 8px;
$gap_xs: 4px;

@mixin clearfix{
  &::after {
    clear: both;
    display: table;
    content: " ";
  }
}

@mixin single{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}